
<div class="d-flex justify-content-center align-items-center vh-100 bg-container">

  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()" class="p-4 border rounded d-flex flex-column align-items-center form-container">

    <h2 class="mb-4 text-center">Registro</h2>

   
    <div class="mb-3">
      <input type="text" id="username" formControlName="username" class="form-control form-control-lg" placeholder="Nombre de Usuario" required>
    </div>

   
    <div class="mb-3">
      <input type="email" id="email" formControlName="email" class="form-control form-control-lg" placeholder="Correo Electrónico" required>
    </div>


    <div class="mb-3">
      <input type="password" id="password" formControlName="password" class="form-control form-control-lg" placeholder="Contraseña" required>
    </div>

    <button type="submit" class="btn btn-primary btn-lg btn-block text-center custom-btn" [disabled]="!registrationForm.valid">Registrarse</button>
  </form>
</div>
