
.bg-container {
  background: url('/assets/images/registration-background.jpeg') no-repeat center center fixed;
  background-size: cover;
  color: white;
}

.form-container {
  max-width: 500px;
  width: 80%;
  background-color: rgba(73, 80, 87, 0.8);
}

.custom-btn {
  background-color: #28a745;
  color: white;
  border: 1px solid #218838;
}

.custom-btn:disabled {
  background-color: #6c757d;
  border: 1px solid #495057;
  opacity: 0.7;
  cursor: not-allowed;
}

.form-control-lg {
  width: 100%;
}
