/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {  font-family: 'Amazon Ember', Arial, sans-serif; /* Utiliza la fuente de Amazon o una similar */
    margin: 0;
    padding: 0; }
